@font-face {
  font-family: 'fontello';
  src: url("./font/fontello.eot?76835225");
  src: url("./font/fontello.eot?76835225#iefix") format('embedded-opentype'), url("./font/fontello.woff2?76835225") format('woff2'), url("./font/fontello.woff?76835225") format('woff'), url("./font/fontello.ttf?76835225") format('truetype'), url("./font/fontello.svg?76835225#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-heart-empty:before {
  content: '\e800';
}
/* '' */
.icon-star:before {
  content: '\e801';
}
/* '' */
.icon-heart:before {
  content: '\e802';
}
/* '' */
.icon-star-empty:before {
  content: '\e803';
}
/* '' */
.icon-star-half:before {
  content: '\e804';
}
/* '' */
.icon-user:before {
  content: '\e805';
}
/* '' */
.icon-videocam:before {
  content: '\e806';
}
/* '' */
.icon-picture:before {
  content: '\e807';
}
/* '' */
.icon-camera:before {
  content: '\e808';
}
/* '' */
.icon-th-list:before {
  content: '\e809';
}
/* '' */
.icon-ok:before {
  content: '\e80a';
}
/* '' */
.icon-link:before {
  content: '\e80b';
}
/* '' */
.icon-lock-open:before {
  content: '\e80c';
}
/* '' */
.icon-eye:before {
  content: '\e80d';
}
/* '' */
.icon-tag:before {
  content: '\e80f';
}
/* '' */
.icon-tags:before {
  content: '\e810';
}
/* '' */
.icon-bookmark:before {
  content: '\e811';
}
/* '' */
.icon-flag:before {
  content: '\e812';
}
/* '' */
.icon-thumbs-up:before {
  content: '\e813';
}
/* '' */
.icon-thumbs-down:before {
  content: '\e814';
}
/* '' */
.icon-pencil:before {
  content: '\e815';
}
/* '' */
.icon-edit:before {
  content: '\e816';
}
/* '' */
.icon-chat:before {
  content: '\e818';
}
/* '' */
.icon-resize-full:before {
  content: '\e81a';
}
/* '' */
.icon-resize-small:before {
  content: '\e81b';
}
/* '' */
.icon-resize-vertical:before {
  content: '\e81c';
}
/* '' */
.icon-resize-horizontal:before {
  content: '\e81d';
}
/* '' */
.icon-zoom-in:before {
  content: '\e81e';
}
/* '' */
.icon-zoom-out:before {
  content: '\e81f';
}
/* '' */
.icon-left-open:before {
  content: '\e820';
}
/* '' */
.icon-right-open:before {
  content: '\e821';
}
/* '' */
.icon-down-open:before {
  content: '\e822';
}
/* '' */
.icon-up-open:before {
  content: '\e823';
}
/* '' */
.icon-leaf:before {
  content: '\e824';
}
/* '' */
.icon-adjust:before {
  content: '\e825';
}
/* '' */
.icon-chart-bar:before {
  content: '\e826';
}
/* '' */
.icon-off:before {
  content: '\e827';
}
/* '' */
.icon-qrcode:before {
  content: '\e828';
}
/* '' */
.icon-music:before {
  content: '\e829';
}
/* '' */
.icon-credit-card:before {
  content: '\e82a';
}
/* '' */
.icon-video:before {
  content: '\e82c';
}
/* '' */
.icon-floppy:before {
  content: '\e82d';
}
/* '' */
.icon-cancel:before {
  content: '\e82e';
}
/* '' */
.icon-pin:before {
  content: '\e830';
}
/* '' */
.icon-download:before {
  content: '\e831';
}
/* '' */
.icon-upload:before {
  content: '\e832';
}
/* '' */
.icon-export:before {
  content: '\e833';
}
/* '' */
.icon-folder:before {
  content: '\e834';
}
/* '' */
.icon-cog:before {
  content: '\e835';
}
/* '' */
.icon-clock:before {
  content: '\e836';
}
/* '' */
.icon-block:before {
  content: '\e837';
}
/* '' */
.icon-cw:before {
  content: '\e838';
}
/* '' */
.icon-inbox:before {
  content: '\e839';
}
/* '' */
.icon-globe:before {
  content: '\e83a';
}
/* '' */
.icon-megaphone:before {
  content: '\e83b';
}
/* '' */
.icon-feather:before {
  content: '\e83c';
}
/* '' */
.icon-spin:before {
  content: '\e83d';
}
/* '' */
.icon-long:before {
  content: '\e83e';
}
/* '' */
.icon-text:before {
  content: '\e840';
}
/* '' */
.icon-hu:before {
  content: '\e841';
}
/* '' */
.icon-weibo:before {
  content: '\e842';
}
/* '' */
.icon-search:before {
  content: '\e845';
}
/* '' */
.icon-rss:before {
  content: '\e846';
}
/* '' */
.icon-zhu:before {
  content: '\e848';
}
/* '' */
.icon-ma:before {
  content: '\e84b';
}
/* '' */
.icon-box:before {
  content: '\e84c';
}
/* '' */
.icon-home:before {
  content: '\e84d';
}
/* '' */
.icon-shu:before {
  content: '\e84e';
}
/* '' */
.icon-yang:before {
  content: '\e850';
}
/* '' */
.icon-info:before {
  content: '\e855';
}
/* '' */
.icon-she:before {
  content: '\e857';
}
/* '' */
.icon-info-with-circle:before {
  content: '\e858';
}
/* '' */
.icon-niu:before {
  content: '\e859';
}
/* '' */
.icon-mail:before {
  content: '\e85a';
}
/* '' */
.icon-list:before {
  content: '\e85b';
}
/* '' */
.icon-gou:before {
  content: '\e85c';
}
/* '' */
.icon-tu:before {
  content: '\e85d';
}
/* '' */
.icon-twitter:before {
  content: '\e85e';
}
/* '' */
.icon-location:before {
  content: '\e85f';
}
/* '' */
.icon-hou:before {
  content: '\e860';
}
/* '' */
.icon-qq:before {
  content: '\e861';
}
/* '' */
.icon-angle-right:before {
  content: '\e863';
}
/* '' */
.icon-ji:before {
  content: '\e866';
}
/* '' */
.icon-move:before {
  content: '\f047';
}
/* '' */
.icon-bookmark-empty:before {
  content: '\f097';
}
/* '' */
.icon-github-circled:before {
  content: '\f09b';
}
/* '' */
.icon-filter:before {
  content: '\f0b0';
}
/* '' */
.icon-resize-full-alt:before {
  content: '\f0b2';
}
/* '' */
.icon-pinterest-circled:before {
  content: '\f0d2';
}
/* '' */
.icon-gplus:before {
  content: '\f0d5';
}
/* '' */
.icon-mail-alt:before {
  content: '\f0e0';
}
/* '' */
.icon-gauge:before {
  content: '\f0e4';
}
/* '' */
.icon-chat-empty:before {
  content: '\f0e6';
}
/* '' */
.icon-lightbulb:before {
  content: '\f0eb';
}
/* '' */
.icon-bell-alt:before {
  content: '\f0f3';
}
/* '' */
.icon-angle-left:before {
  content: '\f104';
}
/* '' */
.icon-angle-up:before {
  content: '\f106';
}
/* '' */
.icon-angle-down:before {
  content: '\f107';
}
/* '' */
.icon-desktop:before {
  content: '\f108';
}
/* '' */
.icon-laptop:before {
  content: '\f109';
}
/* '' */
.icon-tablet:before {
  content: '\f10a';
}
/* '' */
.icon-mobile:before {
  content: '\f10b';
}
/* '' */
.icon-quote-left:before {
  content: '\f10d';
}
/* '' */
.icon-quote-right:before {
  content: '\f10e';
}
/* '' */
.icon-spinner:before {
  content: '\f110';
}
/* '' */
.icon-gamepad:before {
  content: '\f11b';
}
/* '' */
.icon-flag-empty:before {
  content: '\f11d';
}
/* '' */
.icon-code:before {
  content: '\f121';
}
/* '' */
.icon-star-half-alt:before {
  content: '\f123';
}
/* '' */
.icon-direction:before {
  content: '\f124';
}
/* '' */
.icon-unlink:before {
  content: '\f127';
}
/* '' */
.icon-attention-alt:before {
  content: '\f12a';
}
/* '' */
.icon-mic:before {
  content: '\f130';
}
/* '' */
.icon-lock-open-alt:before {
  content: '\f13e';
}
/* '' */
.icon-thumbs-up-alt:before {
  content: '\f164';
}
/* '' */
.icon-thumbs-down-alt:before {
  content: '\f165';
}
/* '' */
.icon-youtube:before {
  content: '\f167';
}
/* '' */
.icon-tumblr:before {
  content: '\f173';
}
/* '' */
.icon-apple:before {
  content: '\f179';
}
/* '' */
.icon-windows:before {
  content: '\f17a';
}
/* '' */
.icon-android:before {
  content: '\f17b';
}
/* '' */
.icon-linux:before {
  content: '\f17c';
}
/* '' */
.icon-sun:before {
  content: '\f185';
}
/* '' */
.icon-moon:before {
  content: '\f186';
}
/* '' */
.icon-wechat:before {
  content: '\f1d7';
}
/* '' */
.icon-paper-plane:before {
  content: '\f1d8';
}
/* '' */
.icon-paper-plane-empty:before {
  content: '\f1d9';
}
/* '' */
.icon-sliders:before {
  content: '\f1de';
}
/* '' */
.icon-share:before {
  content: '\f1e0';
}
/* '' */
.icon-share-squared:before {
  content: '\f1e1';
}
/* '' */
.icon-bell-off:before {
  content: '\f1f6';
}
/* '' */
.icon-bell-off-empty:before {
  content: '\f1f7';
}
/* '' */
.icon-trash:before {
  content: '\f1f8';
}
/* '' */
.icon-chart-pie:before {
  content: '\f200';
}
/* '' */
.icon-chart-line:before {
  content: '\f201';
}
/* '' */
.icon-toggle-off:before {
  content: '\f204';
}
/* '' */
.icon-toggle-on:before {
  content: '\f205';
}
/* '' */
.icon-facebook-official:before {
  content: '\f230';
}
/* '' */
.icon-chrome:before {
  content: '\f268';
}
/* '' */
.icon-firefox:before {
  content: '\f269';
}
/* '' */
.icon-telegram:before {
  content: '\f2c6';
}
/* '' */
