:root {
  --bg-color: #fff;
  --title-color: #000;
  --text-color: #999;
  --link-color: #007bff;
  --button-color: #f0f0f0;
  --theme-color: #007bff;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --title-color: #000;
    --text-color: #999;
    --link-color: #007bff;
    --button-color: #f0f0f0;
    --theme-color: #007bff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --title-color: #fff;
    --text-color: #f0f0f0;
    --link-color: #007bff;
    --button-color: #f0f0f0;
    --theme-color: #007bff;
  }
}
.light-mode {
  --bg-color: #fff;
  --title-color: #000;
  --text-color: #999;
  --link-color: #007bff;
  --button-color: #f0f0f0;
  --theme-color: #007bff;
}
.dark-mode {
  --bg-color: #333;
  --title-color: #fff;
  --text-color: #f0f0f0;
  --link-color: #007bff;
  --button-color: #f0f0f0;
  --theme-color: #007bff;
}
